<template>
  <div>
    <gl-new-button>Default</gl-new-button>
    <gl-new-button category="primary" variant="success">Primary Success</gl-new-button>
    <gl-new-button category="secondary" variant="success">Secondary Success</gl-new-button>
  </div>
</template>
