/**
* Position utilities.
*
* naming convention: gl-{property-value}
*/
@mixin gl-relative {
  position: relative;
}

@mixin gl-absolute {
  position: absolute;
}

@mixin gl-static {
  position: static;
}

@mixin gl-fixed {
  position: fixed;
}

/**
* Placement utilities.
*
* For absolute or fixed positioned elements
*
* naming convention: gl-{position}-{spacing-scale-index}
*/
@mixin gl-bottom-1 {
  bottom: $gl-spacing-scale-1;
}

@mixin gl-bottom-6 {
  bottom: $gl-spacing-scale-6;
}

@mixin gl-left-6 {
  left: $gl-spacing-scale-6;
}

/**
* Placement utilities
*
* naming convention: gl-{position}-{value}
*/
@mixin gl-top-auto {
  top: auto;
}

@mixin gl-top-0 {
  top: 0;
}

@mixin gl-top-1 {
  top: $gl-spacing-scale-1;
}

@mixin gl-top-5 {
  top: $gl-spacing-scale-5;
}

@mixin gl-right-0 {
  right: 0;
}

@mixin gl-right-1 {
  right: $gl-spacing-scale-1;
}

@mixin gl-right-5 {
  right: $gl-spacing-scale-5;
}

@mixin gl-right-7 {
  right: $gl-spacing-scale-7;
}

@mixin gl-bottom-0 {
  bottom: 0;
}

@mixin gl-left-0 {
  left: 0;
}

@mixin gl-left-1 {
  left: $gl-spacing-scale-1;
}

@mixin gl-left-5 {
  left: $gl-spacing-scale-5;
}
