<template>
  <gl-tabs>
    <template v-slot:empty>
      This content is only displayed when there are no tabs. Useful for dynamically added/removed
      tabs.
    </template>
  </gl-tabs>
</template>
